body {
  background-color: #1f1e1d;
  font-family: Georgia;
}

#root {
  color: rgb(236, 220, 220);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

h2 {
  color: #ff6363;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.site_wrapper {
  margin: 0 auto;
  max-width: 85.35rem;
}
